@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  background-color: #080808;
}

img {
  height: 500px;
  border-radius: 50px;
  width: 300px;
  object-fit: cover;
}

.glass-effect {
  background: rgb(21, 20, 20); /* More transparent white background */
  backdrop-filter: blur(10px); /* Blur effect to create the glass look */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Slightly more visible border */
  border-radius: 15px; /* Optional: rounded corners */
   /* Padding inside the glass element */
  color: white; /* Text color to contrast with the black background */
  /* Height of the glass element */
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* nav{
  position: absolute;
  right: 0px;
  width: 100%;
  height: 8%;
} */

/* @media (max-width: 768px) {
nav{
  position: relative;
}
} */